body{
background-image: url("https://img.freepik.com/vector-premium/lindo-patron-costuras-patas-mascotas-coloridas-fondo-contorno-huella-gato-o-perro-puntos_499817-934.jpg");
background-position:center center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}

