/* NAVBAR responsive */
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu-toggle {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: #fff;
  margin-left: 15px;
}

/* Responsive */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background: #111;
    padding: 15px;
    border-radius: 10px;
    position: absolute;
    top: 70px;
    right: 20px;
    width: 200px;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
}
